<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="style.css" media="screen" />
    <title>Home Page</title>
  </head>
  
  <body>
    <%- partial("includes/_header.ejs") %>

    <nav id="navigation">  
      <ul id="menu">  
        <li class="current"><a href="/index.html">Home</a></li>  
        <li><a href="/strands/history.html">Turnip History</a></li>  
        <li><a href="/strands/turnipfacts.html">Facts</a></li>  
        <li><a href="/strands/recipes.html">Recipes</a></li>  
        <li><a href="/strands/latestnews.html">Latest News</a></li>
        <li><a href="/strands/festival.html">Festival</a></li>  
        <li><a href="/strands/contest.html">Monthly Contest</a></li>  
        <li><a href="/strands/game.html">Video Game</a></li>  
      </ul>  
    </nav>
    
    <main class="maincontent">
      <primary class="primary">
        <div class="intro">
          <h1 class="align-center">
            Turniptacular
          </h1>
          <p>
            Welcome!! You are probaly the luckiest person in the entire world right about now. Why is that, you might ask. Well that is because you have entered the greatest website of all time.
            This is Turniptacular!!
          </p>
          <p>
            Turniptacular is the number one turnip dedicated website in all of FTG24. 
            Set up in 1987, Turniptacular has provided visitors with all sorts of wonderous turnip related treats.
          </p>
          <p>
            Learn about the history of the turnip, keep up to date with all the latest turnip news or even take a break and enjoy your favourite hero (Todd the Turnip) in our game <a href="/strands/game.html"> Action Turnip. </a>
          </p>    
        </div>
        
        <div class="align-center">
          <img id="main-pic-turnip-img" src="/images/main-pic-turnip.jpg" alt="main-pic-turnip">
        </div>
      </primary>

      <%- partial("/includes/_secondary.ejs") %>
    </main>
    
    <%- partial("/includes/_footer.ejs") %>
  </body>
</html>