<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../style.css" media="screen" />
    <title>Contest</title>
  </head>

  <body>
    <%- partial("../includes/_header.ejs") %>

    <nav id="navigation">  
      <ul id="menu">  
        <li><a href="/index.html">Home</a></li>  
        <li><a href="history.html">Turnip History</a></li>  
        <li><a href="turnipfacts.html">Facts</a></li>  
        <li><a href="recipes.html">Recipes</a></li>  
        <li><a href="latestnews.html">Latest News</a></li>
        <li><a href="festival.html">Festival</a></li>  
        <li class="current"><a href="contest.html">Monthly Contest</a></li>
        <li><a href="game.html">Video Game</a></li>  
      </ul>  
    </nav>

    <main class="maincontent">
      <primary class="primary">
        <div class="intro">
          <p>
            When asked to describe the impact which the Turniptacular Children's Art Competition had on her career, renowned batik artist and former winner Bernadette Madden said "A wonderful childhood experience. A magical memory. Children's Art sowed a seed (pun intended) which encouraged me to develop my artistic talents at a very young age. Thank you Turniptacular".
          </p>    
          <p>
            With an annual entry of up to 50,000 paintings, the Turniptacular Children's Art Competition is one that has touched the lives of virtually every family in Ireland at some time or another throughout its 20 year lifetime. In that respect alone, it is quite special.
          </p>  
          <h4>
            Subject
          </h4>
          <p>
            One of the most interesting things about art is its diversity. That's why your entry to our Competition can be about anything that interests you (as long as it is about turnips and the theme that we set).
          </p>
          <h4>
            Size of artwork
          </h4>
          <p>
            Your entry should not be smaller than A4 (29.7cm x 21.0cm) or larger than A2 (59.4cm x 42.0cm) even if mounted. Please submit your artwork in flat format only, it should not be rolled, folded or framed
          </p>
          <h4>
            Use of Materials
          </h4>
          <p>
            You may use any type of paper, white, coloured, rough or smooth. The work that you submit may be drawn or painted in pencil, charcoal, pen and ink, crayon, pastel, watercolour, gouache, acrylics, oils, poster colour and collage. Alternatively, it may be submitted on canvas or in digital format in any artwork software (submit digital entries to texacochildrensart@valero.com). Prints created from a lino block, wood blocks or any other methods may also be submitted.
          </p>
          <h4>
            Originality
          </h4>
          <p>
            Your work should be original and unaided. Please do not copy another person’s work. Any source imagery must be indicated at time of entry. Failure to properly reference any source imagery may result in disqualification.           
          </p> 
        </div>
     
        <div class="align-center">
          <h3>
            This Week's Winners
          </h3>
          <div id="gallerywrapper">
            <div id="gallery">
              <div id="pic1">
                <img src="/images/turnipdrawing1.jpeg" alt="Image 1">
                <a class="previous" href="#pic3">&lt;</a> <!-- &lt; = less than sign-->
                <a class="next" href="#pic2">&gt;</a>     <!-- &gt; = greater than sign-->
                <h3>1st Place: Molly Malone, 2 months old, Co. Kilkenny.</h3>
                <p>Our youngest ever contestant, Molly has shown skills beyond her years, with this amazing drawing.</p>
              </div>
              <div id="pic2">
                <img src="/images/turnipdrawing2.jpeg" alt="Image 2">
                <a class="previous" href="#pic1">&lt;</a>
                <a class="next" href="#pic3">&gt;</a>
                <h3>2nd Place: Jimmy Jones, 7 years old, Co. Kildare</h3>
                <p>A for effort.</p>
              </div>
              <div id="pic3">
                <img src="/images/turnipdrawing3.jpeg" alt="Image 3">
                <a class="previous" href="#pic2">&lt;</a>
                <a class="next" href="#pic1">&gt;</a>
                <h3>3rd Place: Doris O' Loughlin, 35 years old, Co. Leitrim</h3>
                <p>DORIS IS A GROWN WOMAN! She can't even beat a 2 month old. As there were only 3 entries this month we decided to give Doris 3rd place.</p>
              </div>
            </div>
          </div>
        </div>
      </primary>

      <%- partial("../includes/_secondary.ejs") %>
    </main>

    <%- partial("../includes/_footer.ejs") %>
        
  </body>
</html>