<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../style.css" media="screen" />
    <title>History 01</title>
  </head>

  <body>
    <%- partial("../includes/_header.ejs") %>

    <nav id="navigation">  
      <ul id="menu">  
        <li><a href="/index.html">Home</a></li>  
        <li class="current"><a href="history.html">Turnip History</a></li>  
        <li><a href="turnipfacts.html">Facts</a></li>  
        <li><a href="recipes.html">Recipes</a></li>  
        <li><a href="latestnews.html">Latest News</a></li>
        <li><a href="festival.html">Festival</a></li>  
        <li><a href="contest.html">Monthly Contest</a></li>  
        <li><a href="game.html">Video Game</a></li>  
      </ul>  
    </nav>

    <main class="maincontent">
      <primary class="primary">
        <h2>
          History of the Turnip
        </h2>
        <p>
          It has been around longer than you might think – about 4,000 years ago by the early Europeans and settlers.
        </p>
        <p>
          Yes, this Brassica Root crop used by Romans to throw at unpopular people has definitely survived after being so unliked for so long.
        </p>
        <p>
          But why such a dislike?  The low esteem associated with this vegetable may have been influenced by the fact that it was the primary food of poor country folks in ancient Greece and Rome.  Although a few upper class Romans eat turnips, they mask its taste by seasoning it with cumin or honey.
        </p>
        <p>
  	      Notorious as its reputation is with people, turnips – more precisely, turnip roots – has always been a popular livestock fodder.  Animals have fed on turnips for at least 600 years especially when Charles Townshend brought turnips to the United Kingdom.
        </p>
        <p>
          In 1730, farmers kill their livestock before winter comes because it was expensive to grow or store hay in winter.  But when Townshend discovered that animals can feed and fatten by eating this vegetable that thrives in cold and damp climates, they only slaughter their livestock as needed.
        </p>
        <p>
          From Europe, turnips were brought to North America by early European colonists and settlers and have been widely used there since.
        </p>
        <p>
          As time goes on, several new varieties of turnips have been developed as well as other uses for this hardy root crop.  There are long, round and flat turnips.  They are easier to grow and have served as filler to a lot of dishes.
        </p>
        <p>
          The turnip is now enjoyed by many whether roasted or baked, steamed or boiled or even deep fried.  The tops can be great, too, when mixed in salads.  But more than the taste and its uses, the turnip has now been appreciated for its nutritional value.
        </p>
      </primary>

      <%- partial("../includes/_secondary.ejs") %>
    </main>

    <%- partial("../includes/_footer.ejs") %>

  </body>
</html>