<secondary class="secondary">
  <div class="weekly-submission">
    <h3>
      Poem of The Week<br>
      by<br>
      Henry Wadsworth Longfellow
    </h3>
    <p>
      Mr. Finney had a turnip,<br>
      And it grew, and it grew,<br>
      And it grew behind the barn,<br>
      And the turnip did no harm.<br>
    </p>  
    <p>
      And it grew, and it grew,<br>
      Till it could grow no taller;<br>
      Then Mr. Finney took it up<br>
      And put it in the cellar.<br>
    </p>  
    <p>
      There it lay, there it lay,<br>
      Till it began to rot;<br> 
      When his daughter Susie washed it<br>
      And put it in the pot.<br>
    </p>
    <p>
      Then she boiled it and boiled it,<br>
      As long as she was able;<br>
      Then his daughter Susie took it<br>
      And put it on the table.<br>
    </p>
    <p>
      Mr. Finney and his wife<br>
      Both sat down to sup;<br>
      And they ate, and they ate,<br>
      Until they ate the turnip up.<br>
    </p>
  </div>

  <div class="weekly-submission">
    <h3>
      Submissions Address
    </h3>
    <p>
      Submit all entries (poems, drawings etc.) to:
    </p>
    <p>
      <b>Unit 123 FourFiveSix St.<br>
      ThePlaceWithTheThing,<br>
      NoNotThere,<br>
      Co. Monaghan.</b>
    </p>
  </div>
</secondary>